body{
  background: linear-gradient(180deg, rgb(0, 51, 66), black);
  font-size: 15px;
  font-family: 'Montserrat';
  color: white;
  height: 100%;
  text-decoration: none;
}

html{
  height: 100%;
}

p{
  font-weight: 100;
  text-decoration: none;
}

button{
  border-radius: 45px;
  background: transparent;
  color: white;
  font-family: 'Montserrat';
  padding: 7px;
  border: 2px solid white;
}
